*{
    padding: 0;
    margin: 0;
}
.header{
    display: flex;
    justify-content: space-between;
    background: rgb(129,28,20);
    background: linear-gradient(90deg, rgba(129,28,20,1) 12%, rgba(116,26,20,1) 61%, rgba(178,39,40,1) 100%);
}
.content{
    display: flex;
    flex-wrap: wrap;
    
}

.title{
    font-family: 'Noto Sans KR', sans-serif;       
    font-size:30px;
    font-weight: 700;
    color: white;
    padding: 10px;
    margin-left:10px;
}
ul{
   display: inline-flex;
   align-self: center;
   padding: 15px;
   list-style: none;

   font-family: 'Roboto', sans-serif;
   font-weight: 500;
   color: #122511;
    
}
li{
    padding: 10px;

}
a{
    text-decoration: none;
    color: white;
}
a:hover{
    color: black;
}
.footer{
    display:flex;
    justify-content: center;
    background: rgb(129,28,20);
    background: linear-gradient(90deg, rgba(129,28,20,1) 12%, rgba(116,26,20,1) 61%, rgba(178,39,40,1) 100%);
}
.text-footer{
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: 500;
    color: white;
    padding: 10px;
}
@media (max-width: 1366px){
    img{
        width:100%;
    }

}
@media (min-width: 400px){
    img{
        width:50%;
    }

}
